* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background-color: #003355;
  width: 100vw;
  height: 100vh;
}

.background-white {
  background-color: #f5f5f5;
}

.header {
  background-color: #003355;
  height: 60px;
  display: flex;
  align-items: center;
}

.header a {
  color: #f5f5f5;
  margin-left: 40px;
}

.add-task {
  background-color: #003355;
  color: #f5f5f5;
  font-size: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}

.background-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.modal {
  width: 50%;
  height: 400px;
  background-color: #fff;
  border: solid 1px #ccc;
  position: absolute;
  left: 50%;
  height: 50%;
  margin-left: -25%;
  margin-top: -50px;
}

.form-task {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px auto;
}

.form-task input {
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
}

.form-task textarea {
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  resize: none;
}

.form-task button {
  margin: 10px 0;
  padding: 12px;
  background-color: #003355;
  color: #f5f5f5;
  border: none;
  font-size: 16px;
}

.list-tasks {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: 40px;
}

.list-tasks li {
  margin-top: 10px;
}

.card-login {
  width: 400px;
  height: 500px;
  background-color: #f5f5f5;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-login h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 28px;
  color: #333;
}

.card-login a {
  color: #003355;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10%;
}

.form-login input {
  margin: 10px 0;
  padding: 16px;
  font-size: 18px;
}

.form-login button {
  margin-top: 20px;
  padding: 16px;
  font-size: 18px;
  background-color: #2a76a8;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
}